<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandong.mapper.AccountChuMapper">

    <resultMap id="BaseResultMap" type="com.diandong.domain.po.AccountChuPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="stock_removal" jdbcType="BIGINT" property="stockRemoval"/>
        <result column="outbound_amoun" jdbcType="DECIMAL" property="outboundAmoun"/>
        <result column="difference" jdbcType="BIGINT" property="difference"/>
        <result column="account_id" jdbcType="BIGINT" property="accountId"/>
        <result column="account_ru" jdbcType="BIGINT" property="accountRu"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="receiptor" jdbcType="VARCHAR" property="receiptor"/>
        <result column="outbound_way" jdbcType="VARCHAR" property="outboundway"/>
        <result column="tally" jdbcType="VARCHAR" property="tally"/>
    </resultMap>

    <!-- Select_Field -->
    <sql id="BaseSelectField">
        <trim prefixOverrides=",">
            ,ac.id
            ,ac.stock_removal
            ,ac.outbound_amoun
            ,ac.difference
            ,ac.account_id
            ,ac.account_ru
            ,ac.picture
            ,ac.receiptor
            ,ac.outbound way
            ,ac.tally
        </trim>
    </sql>

    <!-- Base_Where_Clause -->
    <sql id="BaseWhereClause">
        <where>
            <trim prefixOverrides="and">
            <if test="id != null">
                and ac.id = #{id}
            </if>
            <if test="stockRemoval != null">
                and ac.stock_removal = #{stockRemoval}
            </if>
            <if test="outboundAmoun != null">
                and ac.outbound_amoun = #{outboundAmoun}
            </if>
            <if test="difference != null">
                and ac.difference = #{difference}
            </if>
            <if test="accountId != null">
                and ac.account_id = #{accountId}
            </if>
            <if test="accountRu != null">
                and ac.account_ru = #{accountRu}
            </if>
            <if test="picture != null and picture != ''">
                and ac.picture = #{picture}
            </if>
            <if test="receiptor != null and receiptor != ''">
                and ac.receiptor = #{receiptor}
            </if>
            <if test="outbound way != null and outbound way != ''">
                and ac.outbound way = #{outbound way}
            </if>
            <if test="tally != null and tally != ''">
                and ac.tally = #{tally}
            </if>
            <if test="beginTime != null">
                and ac.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and ac.create_time  <![CDATA[ <= ]]> #{endTime}
            </if>
            </trim>
        </where>
    </sql>
    <!-- tableName  wis_account_chu -->

</mapper>