<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandong.mapper.HealthIndicatorsMapper">

    <resultMap id="BaseResultMap" type="com.diandong.domain.po.HealthIndicatorsPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="indicators_id" jdbcType="BIGINT" property="indicatorsId"/>
        <result column="indicators_name" jdbcType="VARCHAR" property="indicatorsName"/>
        <result column="indicator_value" jdbcType="DOUBLE" property="indicatorValue"/>
        <result column="indicator_unit" jdbcType="VARCHAR" property="indicatorUnit"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="data_state" jdbcType="INTEGER" property="dataState"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- Select_Field -->
    <sql id="BaseSelectField">
        <trim prefixOverrides=",">
            ,hi.id
            ,hi.indicators_id
            ,hi.indicators_name
            ,hi.indicator_value
            ,hi.indicator_unit
            ,hi.user_id
            ,hi.user_name
            ,hi.data_state
            ,hi.version
            ,hi.create_by
            ,hi.create_name
            ,hi.create_time
            ,hi.update_by
            ,hi.update_name
            ,hi.update_time
        </trim>
    </sql>

    <!-- Base_Where_Clause -->
    <sql id="BaseWhereClause">
        <where>
            <trim prefixOverrides="and">
            <if test="id != null">
                and hi.id = #{id}
            </if>
            <if test="indicatorsId != null">
                and hi.indicators_id = #{indicatorsId}
            </if>
            <if test="indicatorsName != null and indicatorsName != ''">
                and hi.indicators_name = #{indicatorsName}
            </if>
            <if test="indicatorValue != null">
                and hi.indicator_value = #{indicatorValue}
            </if>
            <if test="indicatorUnit != null and indicatorUnit != ''">
                and hi.indicator_unit = #{indicatorUnit}
            </if>
            <if test="userId != null">
                and hi.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and hi.user_name = #{userName}
            </if>
            <if test="dataState != null">
                and hi.data_state = #{dataState}
            </if>
            <if test="version != null">
                and hi.version = #{version}
            </if>
            <if test="createName != null and createName != ''">
                and hi.create_name = #{createName}
            </if>
            <if test="updateName != null and updateName != ''">
                and hi.update_name = #{updateName}
            </if>
            <if test="beginTime != null">
                and hi.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and hi.create_time  <![CDATA[ <= ]]> #{endTime}
            </if>
            </trim>
        </where>
    </sql>
    <!-- tableName  wis_health_indicators -->

</mapper>