<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandong.mapper.NutritionParamsMapper">

    <resultMap id="BaseResultMap" type="com.diandong.domain.po.NutritionParamsPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="canteen_id" jdbcType="BIGINT" property="canteenId"/>
        <result column="canteen_name" jdbcType="VARCHAR" property="canteenName"/>
        <result column="nutrition_name" jdbcType="VARCHAR" property="nutritionName"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="data_state" jdbcType="INTEGER" property="dataState"/>
        <result column="be_used" jdbcType="INTEGER" property="beUsed"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_name" jdbcType="INTEGER" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- Select_Field -->
    <sql id="BaseSelectField">
        <trim prefixOverrides=",">
            ,np.id
            ,np.canteen_id
            ,np.canteen_name
            ,np.nutrition_name
            ,np.unit
            ,np.version
            ,np.data_state
            ,np.be_used
            ,np.create_by
            ,np.create_name
            ,np.create_time
            ,np.update_by
            ,np.update_name
            ,np.update_time
        </trim>
    </sql>

    <!-- Base_Where_Clause -->
    <sql id="BaseWhereClause">
        <where>
            <trim prefixOverrides="and">
            <if test="id != null">
                and np.id = #{id}
            </if>
            <if test="canteenId != null">
                and np.canteen_id = #{canteenId}
            </if>
            <if test="canteenName != null and canteenName != ''">
                and np.canteen_name = #{canteenName}
            </if>
            <if test="nutritionName != null and nutritionName != ''">
                and np.nutrition_name = #{nutritionName}
            </if>
            <if test="unit != null and unit != ''">
                and np.unit = #{unit}
            </if>
            <if test="version != null">
                and np.version = #{version}
            </if>
            <if test="dataState != null">
                and np.data_state = #{dataState}
            </if>
            <if test="beUsed != null">
                and np.be_used = #{beUsed}
            </if>
            <if test="createName != null">
                and np.create_name = #{createName}
            </if>
            <if test="updateName != null and updateName != ''">
                and np.update_name = #{updateName}
            </if>
            <if test="beginTime != null">
                and np.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and np.create_time  <![CDATA[ <= ]]> #{endTime}
            </if>
            </trim>
        </where>
    </sql>
    <!-- tableName  nutrition_params -->

</mapper>