<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandong.mapper.RawMaterialMapper">

    <resultMap id="BaseResultMap" type="com.diandong.domain.po.RawMaterialPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="canteen_id" jdbcType="BIGINT" property="canteenId"/>
        <result column="canteen_name" jdbcType="VARCHAR" property="canteenName"/>
        <result column="raw_material_name" jdbcType="VARCHAR" property="rawMaterialName"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="unit_id" jdbcType="BIGINT" property="unitId"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="purchase_type" jdbcType="BIGINT" property="purchaseType"/>
        <result column="pre_price" jdbcType="DECIMAL" property="prePrice"/>
        <result column="storehouse_id" jdbcType="BIGINT" property="storehouseId"/>
        <result column="storehouse_name" jdbcType="VARCHAR" property="storehouseName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- Select_Field -->
    <sql id="BaseSelectField">
        <trim prefixOverrides=",">
            ,rm.id
            ,rm.canteen_id
            ,rm.canteen_name
            ,rm.raw_material_name
            ,rm.category_id
            ,rm.category_name
            ,rm.unit_id
            ,rm.unit_name
            ,rm.purchase_type
            ,rm.pre_price
            ,rm.storehouse_id
            ,rm.storehouse_name
            ,rm.remark
            ,rm.status
            ,rm.create_by
            ,rm.create_time
            ,rm.update_by
            ,rm.update_time
        </trim>
    </sql>

    <!-- Base_Where_Clause -->
    <sql id="BaseWhereClause">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">
                    and rm.id = #{id}
                </if>
                <if test="canteenId != null">
                    and rm.canteen_id = #{canteenId}
                </if>
                <if test="canteenName != null and canteenName != ''">
                    and rm.canteen_name = #{canteenName}
                </if>
                <if test="rawMaterialName != null and rawMaterialName != ''">
                    and rm.raw_material_name = #{rawMaterialName}
                </if>
                <if test="categoryId != null">
                    and rm.category_id = #{categoryId}
                </if>
                <if test="categoryName != null and categoryName != ''">
                    and rm.category_name = #{categoryName}
                </if>
                <if test="unitId != null">
                    and rm.unit_id = #{unitId}
                </if>
                <if test="unitName != null and unitName != ''">
                    and rm.unit_name = #{unitName}
                </if>
                <if test="purchaseTypeId != null">
                    and rm.purchase_type_id = #{purchaseTypeId}
                </if>
                <if test="purchaseTypeName != null and purchaseTypeName != ''">
                    and rm.purchase_type_name = #{purchaseTypeName}
                </if>
                <if test="prePrice != null">
                    and rm.pre_price = #{prePrice}
                </if>
                <if test="storehouseId != null">
                    and rm.storehouse_id = #{storehouseId}
                </if>
                <if test="storehouseName != null and storehouseName != ''">
                    and rm.storehouse_name = #{storehouseName}
                </if>
                <if test="remark != null and remark != ''">
                    and rm.remark = #{remark}
                </if>
                <if test="status != null">
                    and rm.status = #{status}
                </if>
                <if test="dataState != null">
                    and rm.data_state = #{dataState}
                </if>
                <if test="version != null">
                    and rm.version = #{version}
                </if>
                <if test="createName != null and createName != ''">
                    and rm.create_name = #{createName}
                </if>
                <if test="updateName != null and updateName != ''">
                    and rm.update_name = #{updateName}
                </if>
                <if test="beginTime != null">
                    and rm.create_time <![CDATA[ >= ]]> #{beginTime}
                </if>
                <if test="endTime != null">
                    and rm.create_time  <![CDATA[ <= ]]> #{endTime}
                </if>
            </trim>
        </where>
    </sql>
    <!-- tableName  wis_raw_material -->

</mapper>