<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandong.mapper.RecipeMapper">

    <resultMap id="BaseResultMap" type="com.diandong.domain.po.RecipePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="canteen_id" jdbcType="BIGINT" property="canteenId"/>
        <result column="recipe_name" jdbcType="VARCHAR" property="recipeName"/>
        <result column="recipe_date" jdbcType="TIMESTAMP" property="recipeDate"/>
        <result column="add_way_id" jdbcType="BIGINT" property="addWayId"/>
        <result column="add_way_name" jdbcType="VARCHAR" property="addWayName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- Select_Field -->
    <sql id="BaseSelectField">
        <trim prefixOverrides=",">
            ,r.id
            ,r.canteen_id
            ,r.recipe_name
            ,r.recipe_date
            ,r.add_way_id
            ,r.add_way_name
            ,r.status
            ,r.create_by
            ,r.create_time
            ,r.update_by
            ,r.update_time
        </trim>
    </sql>

    <!-- Base_Where_Clause -->
    <sql id="BaseWhereClause">
        <where>
            <trim prefixOverrides="and">
            <if test="id != null">
                and r.id = #{id}
            </if>
            <if test="recipeName != null and recipeName != ''">
                and r.recipe_name = #{recipeName}
            </if>
            <if test="recipeDate != null">
                and r.recipe_date = #{recipeDate}
            </if>
            <if test="addWayId != null">
                and r.add_way_id = #{addWayId}
            </if>
            <if test="addWayName != null and addWayName != ''">
                and r.add_way_name = #{addWayName}
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
            <if test="dataState != null">
                and r.data_state = #{dataState}
            </if>
            <if test="version != null">
                and r.version = #{version}
            </if>
            <if test="createName != null and createName != ''">
                and r.create_name = #{createName}
            </if>
            <if test="updateName != null and updateName != ''">
                and r.update_name = #{updateName}
            </if>
            <if test="beginTime != null">
                and r.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and r.create_time  <![CDATA[ <= ]]> #{endTime}
            </if>
            </trim>
        </where>
    </sql>
    <!-- tableName  wis_recipe -->

</mapper>